body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cell {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.light {
    background-color: #eee;
}

.cell.dark {
    background-color: #444;
}

.cell img {
    width: 70%;
    height: 70%;
}

.cell.valid-move {
    outline: 3px solid #00ff00;
    outline-offset: -2px;
    cursor: pointer;
}